/* Стили для заголовка */
#otsikko {
    white-space: nowrap; /* Предотвращает перенос строк */
    font-size: 20px; /* Размер текста */
}

/* Стили для нумерованного списка */
#blue {
    list-style: decimal; /* Стандартные маркеры списка */
    color: rgb(173, 216, 230); /* Светло-голубой цвет */
    cursor: url('teht5.png'), auto; /* Указываем изображение для курсора */
}

#blue li {
    font-size: 18px; /* Размер шрифта списка */
}

/* Стили для ненумерованного списка */
#lista {
    list-style: none; /* Убираем стандартные маркеры */
}

#lista li {
    background: url('teht5_2.png') no-repeat left center; /* Указываем изображение для маркера */
    padding-left: 30px; /* Отступ для текста после маркера */
    font-size: 18px; 
}
