body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.casper-btn {
    padding: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    text-align: center;
}

#info-field {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}
h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}
