/* index.css */

/* Общий стиль для приложения */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Стили для навигационного меню */
  nav {
    background-color: #0078d7;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #005bb5;
  }
  
  /* Стили для основного содержимого */
  main {
    padding: 20px;
  }
  
  h3 {
    margin-top: 20px;
    color: #0078d7;
  }
  
  button {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  